{% extends 'index.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Course Details</h2>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ course.title }}</h5>
        <p class="card-text">{{ course.description }}</p>
        <p class="card-text">Fee: $ {{ course.fee }}</p>
        {% if enrolled %}
          <a href="/cancel/{{ course.id }}" class="btn btn-danger">Cancel Enroll</a>
        {% else %}
          <a href="/enroll/{{ course.id }}" class="btn btn-primary">Enroll</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
