{% extends 'index.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Instructions for Students</h2>
        <ol class="list-group list-group-numbered mt-4">
          <li class="list-group-item">Read the course syllabus thoroughly.</li>
          <li class="list-group-item">Complete all assigned readings and homework.</li>
          <li class="list-group-item">Participate actively in class.</li>
          <li class="list-group-item">Submit assignments and projects on time.</li>
          <li class="list-group-item">Reach out to your instructor if you need help.</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
